NET sum 	      LOC = P16 | IOSTANDARD = LVCMOS33;  
NET carry_out 	LOC = P15 | IOSTANDARD = LVCMOS33;

NET input_1    LOC = P80 | IOSTANDARD = LVCMOS33;
NET input_2    LOC = P81 | IOSTANDARD = LVCMOS33;
NET carry_in   LOC = P82 | IOSTANDARD = LVCMOS33;